header
    .container
        .header-nav
            .sandwich
                span.sandwich-line.sandwich-line--top
                span.sandwich-line.sandwich-line--middle
                span.sandwich-line.sandwich-line--bottom
            span Меню
        .header-about
            span.header-company__name группа компаний emerald
            span.header-company__descr Организация свадебных торжеств
        .logo
            img(src="static/img/general/logo.png" srcset="static/img/general/logo2x.png 2x")
        .header-phone
            a(href="tel:+74951955722") +7 (495) 195-57-22
            a(href="tel:+79853941057") +7 (985) 394-10-57
        a(href="javascript:void(0);").g-btn Заказать звонок

